# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# temp files
*.o
*.png
*.svg
test*.py
temp.csv
temp_plot.py
temp_use.py
GGanalysis.egg-info/
doctrees/
figure/
build/

# leave logo file
!/docs/source/logo.svg

# test files
test.py
temp.py
.DS_Store
launch.json
GGanalysislib/

# vs code setting
.vscode/

# idea setting
.idea/