# Byte-compiled / optimized / DLL files
__pycache__/ 
*.pyc

# temp files
*.o
*.png
temp.csv
temp_plot.py
temp_use.py
conv_compare.py

# test files
test.py
temp.py
.DS_Store
GGanalysislib/

# vs code setting
.vscode/